<!doctype html>
<html lang="en">
  <head>
    <title>Opuscraft</title>
    <script src="jquery.js" defer></script>
    <script src="popper.js" defer></script>
    <script src="bootstrap.js" defer></script>
    <script src="vue.js" defer></script>
    <script src="vue-router.js" defer></script>
    <script src="bootstrap-vue.js" defer></script>
    <script src="edit.js" defer></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-vue.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <!--
         =======================================================================
         Audio Waves
         =======================================================================
    -->

    <script type="text/x-template" id="audio-wave-template">
      <g xmlns="http://www.w3.org/2000/svg">
        <rect :width="width" :height="height" class="wave-bg" />
        <g ref="wave" />
      </g>
    </script>

    <script type="text/x-template" id="audio-nav-template">
      <div>
        <svg :width="width"
             :height="height"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect :width="width" :height="(height*0.5|0)" />
          <image v-bind="{'xlink:href': spectrogram}"
                 :transform="'scale(1 ' + ((height*0.5|0)/65) + ')'" />
          <g :transform="'translate(0 ' + (height*0.5|0) + ')'">
            <audio-wave
                :data="data"
                :width="width"
                :height="height-(height*0.5|0)"
                :pos="0"
                :scale="navScale">
            </audio-wave>
          </g>
          <rect v-bind="{x:(pos/navScale|0)+0.5,
                        width:(width*scale/navScale|0)-1, height:height-1}"
                y="0.5"
                class="audionav-selection"
                @pointerdown="clickSelection" />
          <line :x1="(playhead/navScale|0)" :x2="(playhead/navScale|0)"
                y1="0" :y2="height"
                class="audionav-playhead" />
        </svg>
      </div>
    </script>

    <!--
         =======================================================================
         Clips
         =======================================================================
    -->

    <script type="text/x-template" id="clip-list-template">
      <div>
        <div v-if="error" class="alert alert-danger">Error: {{ error.message }}</div>
        <template v-if="!loading && !error">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">
              Clips
            </li>
          </ul>
          <h2>Clips</h2>
          <ul>
            <li v-for="clip in clips">
              <router-link :to="'/clip/' + clip.name">
                {{ clip.title }}
              </router-link>
            </li>
          </ul>
        </template>
      </div>
    </script>

    <script type="text/x-template" id="clip-item-template">
      <g xmlns="http://www.w3.org/2000/svg">
        <rect v-for="(item, index) in items"
              :x="((item.pos-pos)/scale|0)"
              :width="(item.length/scale|0)"
              height="32"
              :class="index === selected ? 'clip-item-selected' : 'clip-item'"
        />
      </g>
    </script>

    <script type="text/x-template" id="clip-template">
      <div>
        <div v-if="error" class="alert alert-danger">Error: {{ error.message }}</div>
        <template v-if="!loading && !error">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link to="/clip">
                Clips
              </router-link>
            </li>
            <li class="breadcrumb-item active">
              {{ item.title }}
            </li>
          </ul>
          <h2>{{item.title}}</h2>
          <audio-nav
              :url="url + '/input'"
              :data="data"
              :width="width"
              :height="100"
              :pos="pos"
              :scale="scale"
              :playhead="playhead"
              @update:pos="updatePos">
          </audio-nav>
          <svg xmlns="http://www.w3.org/2000/svg"
               :width="width"
               height="256"
               class="audiowave">
            <audio-wave
                :data="data"
                :width="width"
                :height="192"
                :pos="pos"
                :scale="scale">
            </audio-wave>
            <line :x1="(playhead/scale|0)" :x2="(playhead/scale|0)"
                  y1="0" :y2="192"
                  class="audionav-playhead" />
            <g transform="translate(0 192)">
              <clip-item-view
                  :items="slices"
                  :width="width"
                  :pos="pos"
                  :scale="scale"
                  :selected="selectedSlice"
              />
            </g>
            <g transform="translate(0 224)">
              <clip-item-view
                  :items="segments"
                  :width="width"
                  :pos="pos"
                  :scale="scale"
                  :selected="selectedSegment"
              />
            </g>
          </svg>
          <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
              <button type="button" class="btn btn-light"
                      @click="stop">
                <img src="icon/stop">
              </button>
              <button type="button" class="btn btn-light"
                      @click="playPause">
                <img :src="playing ? 'icon/pause' : 'icon/play_arrow'">
              </button>
              <button type="button" class="btn btn-light"
                      @click="playPause">
                <img :src="playing ? 'icon/pause_circle_filled' : 'icon/play_circle_filled'">
              </button>
              <button type="button" class="btn btn-light"
                      @click="zoomIn">
                <img src="icon/zoom_in">
              </button>
              <button type="button" class="btn btn-light"
                      @click="zoomOut">
                <img src="icon/zoom_out">
              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary"
                      @click="decimateShow">
                Decimate
              </button>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <h3>Slices</h3>
                <ol v-if="slices.length">
                  <li v-for="slice in slices">
                    Slice
                  </li>
                </ol>
                <p v-else>(No slices)</p>
              </div>
              <div class="col-md-6">
                <h3>Segments</h3>
                <ol v-if="segments.length">
                  <li v-for="segment in segments">
                    Segment
                  </li>
                </ol>
                <p v-else>(No segments)</p>
              </div>
            </div>
          </div>
        </template>
        <div class="modal" ref="decimateModal" id="decimate-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Decimate</h5>
              </div>
              <div class="modal-body">
                <p>Replaces the slices and segments in the clip with evenly spaced ones.
                  Choose a decimation ratio, 1 or higher.</p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Ratio</span>
                  </div>
                  <input v-model.number="decimateRatio"
                         type="number" class="form-control" min="1" max="20" value="1">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        @click="decimateCancel">
                  Cancel
                </button>
                <button type="button" class="btn btn-primary"
                        @click="decimateApply">
                  Decimate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!--
         =======================================================================
         Main page
         =======================================================================
    -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <h1 class="navbar-brand">Opuscraft</h1>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#/clip">Clips</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#/class">Sounds</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#/output">Outputs</a></li>
        </ul>
      </div>
    </nav>

    <main id="app" class="container">
      <router-view></router-view>
    </main>

  </body>
</html>
