<!doctype html>
<html lang="en">
  <head>
    <title>Opuscraft</title>
    <script src="/node/jquery.js" defer></script>
    <script src="/node/popper.js" defer></script>
    <script src="/node/bootstrap.js" defer></script>
    <script src="/node/vue.js" defer></script>
    <script src="/node/vue-router.js" defer></script>
    <script src="/node/bootstrap-vue.js" defer></script>
    <script src="/edit.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/node/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/node/bootstrap-vue.css">
    <style type="text/css">
     .zr-inner {
         fill: rgba(255, 255, 255, 0.2);
     }
     .zr-outer {
         fill: rgba(0, 0, 0, 0.2);
     }
     .zl-inner {
         fill: none;
         stroke: black;
     }
     .zl-outer {
         fill: none;
         stroke: white;
     }
     .wave-bg {
         fill: lightgray;
     }
     .wave-line {
         stroke-width: 1px;
         stroke: black;
         fill: none;
     }
     .wave-full {
         stroke-width: 1px;
         stroke: black;
         fill: black;
     }
     .wave-outer {
         stroke-width: 2px;
         stroke: black;
         fill: black;
     }
     .wave-inner {
         fill: #666;
         stroke: none;
     }
    </style>
  </head>
  <body>

    <script type="text/x-template" id="waveform-template">
      <div>
        <svg :width="width"
             :height="spectrumHeight"

             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             @pointerdown="startDrag">
          <rect :width="width" :height="spectrumHeight" />
          <image v-bind="{'xlink:href': spectrogram}" />
          <g :transform="'translate(' + x0 + ' 0) ' +
                         'scale(1 ' + spectrumHeight + ')'">
            <rect :x="-width" :width="width" height="1" class="zr-outer" />
            <rect :x="wsize" :width="width" height="1" class="zr-outer" />
            <rect :width="wsize" height="1" class="zr-inner" />
            <line x1="-0.5" y1="0" x2="-0.5" y2="1" class="zl-outer" />
            <line x1="0.5" y1="0" x2="0.5" y2="1" class="zl-inner" />
            <line :x1="wsize-0.5" y1="0" :x2="wsize-0.5" y2="1"
                  class="zl-inner" />
            <line :x1="wsize+0.5" y1="0" :x2="wsize+0.5" y2="1"
                  class="zl-outer" />
          </g>
        </svg>
        <svg :width="width"
             :height="waveHeight"
             xmlns="http://www.w3.org/2000/svg">
          <rect :width="width" :height="waveHeight" class="wave-bg" />
          <g ref="wave"
             :transform="'translate(' + waveX + ' ' +
                  ((waveHeight / 2) | 0) + ')'"/>
        </svg>
      </div>
    </script>

    <script type="text/x-template" id="inputlist-template">
      <div>
        <template v-if="!loading">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">
              Input
            </li>
          </ul>
          <h2>Input</h2>
          <ul>
            <li v-for="item in items">
              <router-link :to="'/input/' + item.url">
                {{ item.name }}
              </router-link>
            </li>
          </ul>
        </template>
      </div>
    </script>

    <script type="text/x-template" id="input-template">
      <div>
        <template v-if="!loading">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link to="/input">
                Input
              </router-link>
            </li>
            <li class="breadcrumb-item active">
              {{ item.name }}
            </li>
          </ul>
          <h2>{{item.name}}</h2>
          <waveform :url="'/input/' + item.url + '/audio'"
                    :bins="128"
                    :length="item.length"
                    :wave-height="200"
                    :width="Math.min(1000, item.length/60)">
          </waveform>
        </template>
      </div>
    </script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <h1 class="navbar-brand">Opuscraft</h1>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#/input">Input</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#/phone">Phones</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#/output">Output</a></li>
        </ul>
      </div>
    </nav>

    <main id="app" class="container">
      <router-view></router-view>
    </main>

  </body>
</html>
