<!doctype html>
<html lang="en">
  <head>
    <title>Opuscraft</title>
    <script src="/node/jquery.js" defer></script>
    <script src="/node/popper.js" defer></script>
    <script src="/node/bootstrap.js" defer></script>
    <script src="/node/vue.js" defer></script>
    <script src="/node/vue-router.js" defer></script>
    <script src="/node/bootstrap-vue.js" defer></script>
    <script src="/edit.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/node/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/node/bootstrap-vue.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <script type="text/x-template" id="audio-wave-template">
      <g xmlns="http://www.w3.org/2000/svg">
        <rect :width="width" :height="height" class="wave-bg" />
        <g ref="wave" />
      </g>
    </script>

    <script type="text/x-template" id="audio-nav-template">
      <div>
        <svg :width="width"
             :height="height"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect :width="width" :height="(height*0.5|0)" />
          <image v-bind="{'xlink:href': spectrogram}" />
          <g :transform="'translate(0 ' + (height*0.5|0) + ')'">
            <audio-wave
                :data="data"
                :width="width"
                :height="height-(height*0.5|0)"
                :pos="0"
                :scale="navScale">
            </audio-wave>
          </g>
          <rect v-bind="{x:(pos/navScale|0)+0.5,
                        width:(width*scale/navScale|0)-1, height:height-1}"
                y="0.5"
                class="audionav-selection"
                @pointerdown="clickSelection" />
        </svg>
      </div>
    </script>

    <script type="text/x-template" id="none">
    </script>

    <script type="text/x-template" id="inputlist-template">
      <div>
        <template v-if="!loading">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">
              Input
            </li>
          </ul>
          <h2>Input</h2>
          <ul>
            <li v-for="item in items">
              <router-link :to="'/input/' + item.url">
                {{ item.name }}
              </router-link>
            </li>
          </ul>
        </template>
      </div>
    </script>

    <script type="text/x-template" id="input-template">
      <div>
        <template v-if="!loading && !error">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link to="/input">
                Input
              </router-link>
            </li>
            <li class="breadcrumb-item active">
              {{ item.name }}
            </li>
          </ul>
          <h2>{{item.name}}</h2>
          <audio-nav
              :url="url + '/audio'"
              :data="data"
              :width="800"
              :height="100"
              :pos="pos"
              :scale="scale"
              @update:pos="updatePos">
          </audio-nav>
          <svg xmlns="http://www.w3.org/2000/svg"
               width="800"
               height="200">
            <audio-wave
                :data="data"
                :width="800"
                :height="200"
                :pos="pos"
                :scale="scale">
            </audio-wave>
          </svg>
          <div>
            <button type="button" class="btn btn-light"
                    @click="stop">
              <img src="/icon/stop">
            </button>
            <button type="button" class="btn btn-light"
                    @click="playPause">
              <img :src="playing ? '/icon/pause' : '/icon/play_arrow'">
            </button>
            <button type="button" class="btn btn-light"
                    @click="zoomIn">
              <img src="/icon/zoom_in">
            </button>
            <button type="button" class="btn btn-light"
                    @click="zoomOut">
              <img src="/icon/zoom_out">
            </button>
          </div>
        </template>
      </div>
    </script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <h1 class="navbar-brand">Opuscraft</h1>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#/input">Input</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#/phone">Phones</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#/output">Output</a></li>
        </ul>
      </div>
    </nav>

    <main id="app" class="container">
      <router-view></router-view>
    </main>

  </body>
</html>
