.zr-inner {
  fill: rgba(255, 255, 255, 0.2);
}
.zr-outer {
  fill: rgba(0, 0, 0, 0.2);
}
.zl-inner {
  fill: none;
  stroke: black;
}
.zl-outer {
  fill: none;
  stroke: white;
}
.wave-bg {
  fill: lightgray;
}
.wave-line {
  stroke-width: 1px;
  stroke: black;
  fill: none;
}
.wave-full {
  stroke-width: 1px;
  stroke: black;
  fill: black;
}
.wave-outer {
  stroke-width: 2px;
  stroke: black;
  fill: black;
}
.wave-inner {
  fill: #666;
  stroke: none;
}
.iconbutton {
  width: 48px;
  height: 48px;
}
.iconbutton img {
  fill: black;
}
