h1, h2, h3, h4 {
  margin: 0;
}

body {
  margin: 1rem;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #555;
}

h1 {
  margin-bottom: 1rem;
  color: white;
}

#g {
  border: 2px solid #333;
  margin: 0.5rem auto;
  display: block;
}

.box {
  background: #ddd;
  border: 1px solid #bbb;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

/* ========================================================================== */

#status {
  margin: 0.5rem 0;
}

#status p {
  margin: 0;
  padding: 0.5rem;
}

.status-ok {
  display: none;
}

.status-loading {
  border: 1px solid #bbb;
  background: #ddd;
}
.status-loading p:before {
  content: "Loading: ";
}

.status-error {
  border: 1px solid red;
  background: #fcc;
}
.status-error p:before {
  content: "Loading: ";
}

/* ========================================================================== */

#diagnostics h2 {
  background: #ddd;
}

.file {
  margin: 0;
}
.file h3 {
  margin: 0;
}
.file ul {
  margin: 0;
  list-style: none;
}

.message p {
  margin: 0;
}
.message-loc {
  font-weight: normal;
}
.message-rule {
  font-weight: normal;
}
.message pre {
  margin: 0 0 0.5rem 1rem;
}
.code-error {
  text-decoration: red double underline;
}

/* ========================================================================== */

#sfx ul {
  margin: 0.5rem 0;
  padding: 0;
}
#sfx li {
  display: inline-block;
}
